
.navbarSub {
  display: flex;
  flex-direction: row;
}
.sidebox {
  background-color: brown;
  height: 27px;
  width: 5%;
}
.blackbox {
  background-color: black;
  height: 40px;
}

.whitebox {
  background-color: white;
  height: 40px;
}
.navbarMiddle {
  background-color: gray;
  width: 90%;
  height: 90px;
}
#basic-navbar-nav {
  flex-direction: row-reverse;
}
.logMain {
  margin-left: 2%;
}
.logointerior {
  width: 20%;
  padding-bottom: 1px;
}
.navSubContent {
}
.navitem {
  color: white;
  float: right;
  margin-right: 3%;
}
.navitem a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.navitem a:hover {
  color: orange;
  font-size: 18px;
}
.navLinkData {
  width: 98%;
}
.mailImage,.phoneImage {
  padding: 3%;
}
img.email{
  color: blue;
  height: 32%;
}